body{
	background: #E5E5E5;
	margin:0;
}
.main{
	background: #FFFFFF;
	padding: 20px;
	position: relative;
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 100%;
	min-width: 300px;
	max-width: 720px;
	border-radius: 0px;
}
.photo-user{
	border-radius: 100px;
	display: block;
	float: left;
}
.user-info{
	width: 100%;
	position: relative;
	display: block;
	float: right;
}
.info{
	display: inline-block;
	white-space: nowrap;
	float: left;
	margin-left: 10px;
}
.name{
	display: block;
	margin-block-start: 0em;
	width: 146px;
	height: 20px;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 20px;
	display: flex;
	align-items: center;
	color: #333333;
}
.work{
	display: block;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 20px;
	display: flex;
	align-items: center;
	color: #808080;
}
.offer{
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	background: #FFFBC8;
	border: 1px solid #DADADA;
	box-sizing: border-box;
	border-radius: 5px;
	padding: 10px;
}
.service{
	display: block;
	float: right;
	margin-right: 21px;
}
.serviceoffer{
	margin-left: 20%;
}
table {
	border-left: 1px solid rgba(51, 51, 51, 0.2);
	width: 80%;
}
td:first-child {
   width: 100%;
}
td{
	height:24px;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 26px;
	color: #333333;
}
.Numm{
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	line-height: 15px;
}
.Uslugi{
	text-align: right;
}
.all{
	border:none;	
}
.all td{
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 26px;
}
.comment p{
	display: inline-block;
}
.comment a{
	color: #005DA1;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	margin-left: 5%;
}
.comment h1{
	display: inline-block;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 16px;
	align-items: center;
	color: #333333;
}
.like-comm{
	display: inline-block;
	float: right;	
}
.like-comm p, span{
font-family: Arial;

font-style: normal;
font-weight: 400;
line-height: 14px;
letter-spacing: 0px;
text-align: left;

}
.like{
	width: 16px;
	height: 14px;
}
.comm{
	width: 16px;
	height: 14px;
}
.message{
	width: 90%;
	display: block;
    margin-left: auto;
    margin-right: auto;
    height: 63px;
    resize: none;
}
.addcomment{
	display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 23px;
	width: 60%;
	height: 43px;
	background: #FDD639;
	border-radius: 23px;
	font-family: PT Sans;
	
	font-weight: bold;
	font-size: 16px;
	line-height: 21px;
	text-align: center;
	color: #333333;
	border: none; 
	outline: none;
}
.form-comment{
	position: relative;
	padding-top: 28px;
	background-color: #F2F2F2;
	height: 191px;
	width: 100%
}
.Comments{
	position: relative;
}
.commnd{
	display: inline-block;
	height: auto;
}
.Comments p{
	display: flex;
	margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #cfcfcf;
    background: #f2fbff;
    word-wrap: break-word;
}
.commendss::before {
    border-color: #cfcfcf transparent transparent transparent;
    border-width: 8px;
    top: -8px;
}
.Commentsf{
	position: relative;
}
.Commentsf p{	
	margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #cfcfcf;
    background: #f2fbff;
    word-wrap: break-word;
    font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 19px;
}
.namedateComm{
	position: relative;
	display: block;
	height: 10px;
}
.namecomment{
	display: inline-block;
	float: left;
	margin-right: 15px;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	color: #333333;
}
.namecommentf{
	display: inline-block;
	float: left;
	margin-right: 15px;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	color: #333333;
}
.date{
	padding-top: 3px;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	display: block;
    font-size: 11px;
    color: #a2a2a2;
	align-items: center;
}
.datef{
	
	display: block;
	padding-top: 3px;
    font-size: 11px;
    color: #a2a2a2;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	align-items: center;
}
